<img src="images/cs.png">

### Walk through the basics of Apache Cassandra. Complete the following tasks:<li> Create a table in Apache Cassandra, <li> Insert rows of data,<li> Run a simple SQL query to validate the information. <br>
`#####` denotes where the code needs to be completed.

#### Import Apache Cassandra python package

In [ ]:
import pandas as pd
from cassandra.cluster import Cluster
from cassandra.query import dict_factory

### Create a connection to the database

### TO-DO: Create a keyspace to do the work in

In [ ]:
## TO-DO: Create the keyspace
#connection to cluster
cluster=Cluster(['127.0.0.1'],port=9042)
#my_keyspace is a keyspace done using cqlsh command line 
session=cluster.connect('my_keyspace')
#to create a keyspace here
session.execute('''CREATE KEYSPACE my_keyspace2 WITH replication = {'class': 'SimpleStrategy', 'replication_factor' : 1};''')

### TO-DO: Connect to the Keyspace

In [ ]:
## To-Do: Add in the keyspace you created
session.execute('''USE my_keyspace2;''')

### Create a Song Library that contains a list of songs, including the song name, artist name, year, album it was from, and if it was a single. 

`song_title
artist_name
year
album_name
single`

### TO-DO: You need to create a table to be able to run the following query: 
`select * from songs WHERE year=1970 AND artist_name="The Beatles"`

In [ ]:
## TO-DO: Complete the query below
#Creating table songs with required attributes
session.execute('''CREATE TABLE songs(song_title varchar PRIMARY KEY,artist_name varchar,year date, album_name boolean,single varchar);''')

### TO-DO: Insert the following two rows in your table
`First Row:  "Across The Universe", "The Beatles", "1970", "False", "Let It Be"`

`Second Row: "The Beatles", "Think For Yourself", "False", "1965", "Rubber Soul"`

In [ ]:
## Add in query and then run the insert statement
#Inserting Values
session.execute('''INSERT INTO songs(song_title,artist_name,year,album_name,single) VALUES ('Across The Universe','The Beatles','1970',False,'Let It Be');''')
session.execute('''INSERT INTO songs(song_title,artist_name,year,album_name,single) VALUES ('The Beatles','Think For Yourself','1965',False,'Rubber Soul');''')

### TO-DO: Validate your data was inserted into the table.

In [ ]:
## TO-DO: Complete and then run the select statement to validate the data was inserted into the table

### TO-DO: Validate the Data Model with the original query.

`select * from songs WHERE YEAR=1970 AND artist_name="The Beatles"`

In [ ]:
##TO-DO: Complete the select statement to run the query

### And Finally close the session and cluster connection